*{
  font-family: 'Griffy', cursive;
  text-decoration: none;
}

header {
  background: grey;
  position: fixed;
  top: 0px;
  width: 100%;
  vertical-align: bottom;
  z-index: 100;
  height: 5rem;
}

header h2{
  margin: 2% 10%;
  width: 20%;
}
header nav li{
  margin-top: 2%;
  list-style: none;
  width: 200px;
  display: inline-block;

}

p {
  text-align: center;
}
h3 {
  text-align: center;
}

header ul{
  margin-top: 6%;
}


header nav {
  list-style: none;
  margin-right: 6%;
  position: absolute;;
  right: 0px;
  top: 0px;
  height: 100%;
}

section h1{
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 130px;
  text-align: center;
  font-size: -webkit-xxx-large;
}

section h2{
  font-size: -webkit-xxx-large;
  text-align:center;
}
main {
  margin-top: 5.5rem;
  position: relative;

}
.the-posts{
  margin-left: 10%;
  margin-right: 10%;
}
.the-posts article{
  border: red 5px solid;
  width: 25%;
  height: 15rem;
  margin-left: 3%;
  margin-right: 3%;

}

main section {
  background: yellow;
}

main:first-child {
  width: 100%;
  background-image: image(../assets/hero.jpg);

}

main:nth-child(2) {
  width: 100%;second child of main
}


main:nth-child(3) {
  width: 100%;  third child of main (join the club)
}

main:last-child {
  width: 100%;last section of main
}
article {
  width: 30%;
  display:inline-block;
  vertical-align: top;
}
  img{
    width:100%;
    height: auto;
}
}
#disclaimer{
  text-align: left;
  width: 40%;
  padding-left: 10%;
}

h4 {
  padding-left: 10%;
}
footer nav li{
  margin-top: 2%;
  width: 200px;
  display: list-item;
}
